<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Index.css">
    <title>Contacto</title>
</head>

<body>
    <nav class="m_principal">
        
        <img class="logo" src="../Imagenes/Rent-car.png" alt="Rent-Car-Logo">
    
 <ul>
    <li><a href="galeria.html">Galeria</a></li>
    <li><a href="../index.html">Home</a></li>
    <li><a href="servicios.html">Servicios</a></li>
 </ul>

</nav>
    <header>
        <h1 class="title_contacto">Contactanos</h1>
    </header>
    <hr>
    <section class="contacto">
        <div class="col_cont">
            <h3 class="title_formulario"></h3>
            <form action="" method="post">
                <label for="Nombre">Nombre: <span>*</span></label>
                <input type="text" name="Nombre" id="Nombre" required placeholder="Escriba Su Nombre">
                <label for="Email">Mail:<span>*</span></label>
                <input type="email" name="Email" id="" pattern=" /^\w+([.-_+]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/"
                    required placeholder="Escriba su email">
                <label for="Mensaje">Mensaje:<span>*</span></label>
                <textarea name="Mensaje" id="" cols="30" rows="10" required placeholder="Dejanos tu Mensaje"></textarea>
                
                    <input type="submit" value="Enviar Consulta">


            </form>
            </div>

            <div class="col_cont">
                <iframe  class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3406.036953589145!2d-58.01769942581023!3d-31.385544574276015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1689215440502!5m2!1ses!2sar" width="400" height="300"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                </div>

       </section>
       <section class="redes_contacto">
        <div class="enlaces"><img src="../Imagenes/email.svg" alt="email"><a id="enlace" href="https://www.gmail.com">Email</a></img></div>
        <div class="enlaces">  <img src="../Imagenes/instagram-icon.png" alt="Instagram"><a id="enlace" href="https://www.instagram.com/">instagram</a></img></div>
        <div class="enlaces"> <img src="../Imagenes/facebook-icon.png" alt="Facebook"><a  id="enlace" href="https://wwww.facebook.com">Facebook</a></img></div>

        


       </section>

       <footer>
        <div class="col_footer">
          <h3 class="title_footer">Rent-Car</h3>
          <p class="desc_footer">Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Placeat, quibusdam animi iure nobis saepe ea soluta 
             tempore necessitatibus odio laborum molestias obcaecati iste repellendus
              voluptatem consequatur optio nisi illum fugiat.</p>
        </div>
       <ul class="lista_footer">
        <li class="info_footer"><img src="../Imagenes/pin.png" alt=""><a id="txt_footer" href="contacto.html">Ubicacion</a></img></li>
        <li class="info_footer"><img src="../Imagenes/pin3.png" alt=""><a id="txt_footer" href="galeria.html">+250 Autos</a></img></li>
        <li class="info_footer"><img src="../Imagenes/pin2.png" alt=""><a  id="txt_footer" href="servicios.html">Usuarios Felices</a></img></li>
       </ul>
      </footer>
    
</body>

</html>