<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/Index.css" />
    <title>Galeria</title>
  </head>
  <body>
    <nav class="m_principal">
      <img class="logo" src="../Imagenes/Rent-car.png" alt="Rent-Car-Logo" />

      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="servicios.html">Servicios</a></li>
      </ul>
    </nav>
    <header>
      <h1 class="title_galeria">Galeria</h1>
    </header>

    <hr />
    <main class="galeria">
      <div class="col">
        <figure class="auto">
          <img src="../Imagenes/Auto1.jpg" alt="Auto" />
        </figure>
        <figcaption class="txt_auto">Modelo 82</figcaption>
        <p class="info_auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ut,
          nostrum ex rem error beatae deleniti aut sequi, saepe qui illo ducimus
          illum mollitia. Quasi officia eum obcaecati temporibus saepe!
        </p>
        <button type="submit" class="btn_auto">
          <a href="contacto.html">Mas Info</a>
        </button>
      </div>
      <div class="col">
        <figure class="auto">
          <img src="../Imagenes/Auto1.jpg" alt="Auto" />
        </figure>
        <figcaption class="txt_auto">Modelo 82</figcaption>
        <p class="info_auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ut,
          nostrum ex rem error beatae deleniti aut sequi, saepe qui illo ducimus
          illum mollitia. Quasi officia eum obcaecati temporibus saepe!
        </p>
        <button type="submit" class="btn_auto">
          <a href="contacto.html">Mas Info</a>
        </button>
      </div>
      <div class="col">
        <figure class="auto">
          <img src="../Imagenes/Auto1.jpg" alt="Auto" />
        </figure>
        <figcaption class="txt_auto">Modelo 82</figcaption>
        <p class="info_auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ut,
          nostrum ex rem error beatae deleniti aut sequi, saepe qui illo ducimus
          illum mollitia. Quasi officia eum obcaecati temporibus saepe!
        </p>
        <button type="submit" class="btn_auto">
          <a href="contacto.html">Mas Info</a>
        </button>
      </div>
      <div class="col">
        <figure class="auto">
          <img src="../Imagenes/Auto1.jpg" alt="Auto" />
        </figure>
        <figcaption class="txt_auto">Modelo 82</figcaption>
        <p class="info_auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ut,
          nostrum ex rem error beatae deleniti aut sequi, saepe qui illo ducimus
          illum mollitia. Quasi officia eum obcaecati temporibus saepe!
        </p>
        <button type="submit" class="btn_auto">
          <a href="contacto.html">Mas Info</a>
        </button>
      </div>
      <div class="col">
        <figure class="auto">
          <img src="../Imagenes/Auto1.jpg" alt="Auto" />
        </figure>
        <figcaption class="txt_auto">Modelo 82</figcaption>
        <p class="info_auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ut,
          nostrum ex rem error beatae deleniti aut sequi, saepe qui illo ducimus
          illum mollitia. Quasi officia eum obcaecati temporibus saepe!
        </p>
        <button type="submit" class="btn_auto">
          <a href="contacto.html">Mas Info</a>
        </button>
      </div>
      <div class="col">
        <figure class="auto">
          <img src="../Imagenes/Auto1.jpg" alt="Auto" />
        </figure>
        <figcaption class="txt_auto">Modelo 82</figcaption>
        <p class="info_auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ut,
          nostrum ex rem error beatae deleniti aut sequi, saepe qui illo ducimus
          illum mollitia. Quasi officia eum obcaecati temporibus saepe!
        </p>
        <button type="submit" class="btn_auto">
          <a href="contacto.html">Mas Info</a>
        </button>
      </div>
      <div class="col">
        <figure class="auto">
          <img src="../Imagenes/Auto1.jpg" alt="Auto" />
        </figure>
        <figcaption class="txt_auto">Modelo 82</figcaption>
        <p class="info_auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ut,
          nostrum ex rem error beatae deleniti aut sequi, saepe qui illo ducimus
          illum mollitia. Quasi officia eum obcaecati temporibus saepe!
        </p>
        <button type="submit" class="btn_auto">
          <a href="contacto.html">Mas Info</a>
        </button>
      </div>
    </main>
    <footer>
      <div class="col_footer">
        <h3 class="title_footer">Rent-Car</h3>
        <p class="desc_footer">Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Placeat, quibusdam animi iure nobis saepe ea soluta 
           tempore necessitatibus odio laborum molestias obcaecati iste repellendus
            voluptatem consequatur optio nisi illum fugiat.</p>
      </div>
     <ul class="lista_footer">
      <li class="info_footer"><img src="../Imagenes/pin.png" alt=""><a id="txt_footer" href="contacto.html">Ubicacion</a></img></li>
      <li class="info_footer"><img src="../Imagenes/pin3.png" alt=""><a id="txt_footer" href="galeria.html">+250 Autos</a></img></li>
      <li class="info_footer"><img src="../Imagenes/pin2.png" alt=""><a  id="txt_footer" href="servicios.html">Usuarios Felices</a></img></li>
     </ul>
    </footer>
  </body>
</html>
