<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/Index.css" />
    <title>Servicios</title>
  </head>
  <body>
    <nav class="m_principal">
      <img class="logo" src="../Imagenes/Rent-car.png" alt="Rent-Car-Logo" />

      <ul>
        <li><a href="../index.html">Home</a></li>
       <li><a href="galeria.html">Galeria</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        
      </ul>
    </nav>

    <h1 class="title_servicios">Servicios</h1>
    <hr />
    <main class="servicios">
      <div class="col_servicios">
        <img src="../Imagenes/Autotaxi.png" alt="taxi" />
        <h4 class="txt_servicios">The taxi you know</h4>

        <ul>
          <li>Price based on taximeter</li>
          <li>Executed by local taxi fleets</li>
          <li>Online and offline payment</li>
          <li>24/7 support hotline</li>
        </ul>
      </div>
      <div class="col_servicios">
        <img src="../Imagenes/Autoeconomico.png" alt="economico" />
        <h4 class="txt_servicios">For budget travelers</h4>

        <ul>
          <li>Fixed price</li>
          <li>English-speaking driver</li>
          <li>Automated flight and train tracking</li>
          <li>45 minutes waiting time after landing</li>
          <li>Pickup with name sign in arrivals hall</li>
          <li>Children seats available on request</li>
          <li>Online and offline payment</li>
          <li>24/7 support hotline</li>
        </ul>
      </div>
      <div class="col_servicios">
        <img src="../Imagenes/Autofull.png" alt="full" />
        <h4 class="txt_servicios">Business traveler's favourite</h4>

        <ul>
          <li>Black car guaranteed</li>
          <li>Fixed price</li>
          <li>English-speaking driver</li>
          <li>Automated flight and train tracking</li>
          <li>45 minutes waiting time after landing</li>
          <li>Pickup with name sign in arrivals hall</li>
          <li>Children seats available on request</li>
          <li>Online and offline payment</li>
          <li>24/7 support hotline</li>
        </ul>
      </div>
    </main>
    <footer>
      <div class="col_footer">
        <h3 class="title_footer">Rent-Car</h3>
        <p class="desc_footer">Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Placeat, quibusdam animi iure nobis saepe ea soluta 
           tempore necessitatibus odio laborum molestias obcaecati iste repellendus
            voluptatem consequatur optio nisi illum fugiat.</p>
      </div>
     <ul class="lista_footer">
      <li class="info_footer"><img src="../Imagenes/pin.png" alt=""><a id="txt_footer" href="contacto.html">Ubicacion</a></img></li>
      <li class="info_footer"><img src="../Imagenes/pin3.png" alt=""><a id="txt_footer" href="galeria.html">+250 Autos</a></img></li>
      <li class="info_footer"><img src="../Imagenes/pin2.png" alt=""><a  id="txt_footer" href="servicios.html">Usuarios Felices</a></img></li>
     </ul>
    </footer>
  </body>
</html>
